@import "tailwindcss";
@plugin "daisyui";

:root {
  --toastify-color-success: linear-gradient(to right, #4f46e5, #7c3aed);
}

.Toastify__toast-theme--colored.Toastify__toast--success {
  border-radius: 1rem;
  box-shadow: 0 10px 25px rgb(49 46 129 / 25%);
}

.Toastify__progress-bar-theme--colored.Toastify__progress-bar--success {
  background: rgb(255 255 255 / 55%);
}
